.input {
    height: 45px;
    width: 355px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    margin-left: auto;
    border: 1px solid rgb(182, 177, 177);
    margin-top: 20px;
    font-size: 15px;
}

.input1 {
    height: 45px;
    margin-top: 20px;
    width: 355px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    margin-left: auto;
    border: 1px solid rgb(182, 177, 177);
    font-size: 15px;
}

.link
{
    font-size: 14px;
    color:#414040;
    text-align: left;
}