.a_sty
{
    color:#0f977a;
    text-align: left;
}

.css-1umw9bq-MuiSvgIcon-root {
    height: 1em !important;
    width: 1em !important;
}

.css-1umw9bq-MuiSvgIcon-root
{
    fill:rgb(248, 209, 34) !important;
}