.project_sec_img
{
    height: 150px;
    border-radius:10px 10px 0px 0px;
}

.project-anchor
{
    padding: 0%;
}


@media (max-width:1024px) {

    .project_sec_img
{
    height: 150px;
}

}
@media (max-width:320px) {

    .project_sec_img
{
    height: 110px;
}

.css-19lgokg{
        padding: 4px 25px !important;
}

}