.css-1umw9bq-MuiSvgIcon-root
{
    height: 2em !important;
    width: 1.5em !important;
}

.css-m7dgnn-MuiButtonBase-root-MuiIconButton-root
{
    padding-left:15px !important;
    padding-top:2px !important;
    text-align: center;
}

.css-w7x0fq-MuiButtonBase-root-MuiButton-root .css-1umw9bq-MuiSvgIcon-root{
fill:gray !important
}
