.navbar_outer
{
    min-height: 70px;
    width: 100%;
    background-color: rgb(230, 166, 83);
}

.max_width
{
    width: 80%;
    margin: auto;
    /* background-color: aquamarine; */
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 10px 41px;
    text-align: end;
    justify-items: right;
    justify-content: right;
    font-weight: 600;
}

.tasker
{
    color: rgb(16, 16, 160);
    border: 1px solid rgb(16, 16, 160);
    border-radius: 5px;
    font-size: 18px;
    padding: 12px 45px;
}

/* @media (max-width: 1440px) {
  .tasker
{
    font-size: 18px;
}

a
{
    padding: 16px 30px;
}
}

@media (max-width: 1200px) {
  .tasker
{
    font-size: 18px;
}

a
{
    padding: 6px 20px;
}
}

@media (max-width: 966px) {
  .tasker
{
    font-size: 18px;
}

a
{
    padding: 16px 30px;
}
}

@media (max-width: 768px) {
  .tasker
{
    font-size: 18px;
}

a
{
    padding: 16px 30px;
}
}

@media (max-width: 580px) {
  .tasker
{
    font-size: 18px;
}

a
{
    padding: 16px 30px;
}
}

@media (max-width: 320px) {
  .tasker
{
    font-size: 18px;
}

a
{
    padding: 16px 30px;
}
} */