.navbar_outer
{
    min-height: 70px;
    width: 100%;
    background-color: rgb(230, 166, 83);
}

.max_width
{
    width: 80%;
    margin: auto;
    /* background-color: aquamarine; */
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 16px 30px;
    text-align: end;
    justify-items: right;
    justify-content: right;
    font-weight: 600;
}

.tasker
{
    color: rgb(16, 16, 160);
    border: 1px solid rgb(16, 16, 160);
    border-radius: 5px;
    font-size: 18px;
}