.navbar_outer
{
    min-height: 70px;
    width: 100%;
    background-color: rgb(230, 166, 83);
}

.css-l702m2-MuiContainer-root{
    padding:0% ;
}

/* .max_width
{
    width: 80%;
    margin: auto;
    
} */

a{
    text-decoration: none;
    font-size: 20px;
    color: var(--secondary-color);
    padding: 10px 41px;
    text-align: end;
    justify-items: right;
    justify-content: right;
    font-weight: 600;
}

.tasker
{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 18px;
    padding: 12px 45px;
}

.txt{
    color: var(--forth-color);
    font-size: 18px;
}

/* @media (max-width: 1440px) {
  .tasker
{
    font-size: 18px;
}

a
{
    padding: 16px 30px;
}
}

@media (max-width: 1200px) {
  .tasker
{
    font-size: 18px;
}

a
{
    padding: 6px 20px;
}
}

@media (max-width: 966px) {
  .tasker
{
    font-size: 18px;
}

a
{
    padding: 16px 30px;
}
}

@media (max-width: 768px) {
  .tasker
{
    font-size: 18px;
}

a
{
    padding: 16px 30px;
}
}

@media (max-width: 580px) {
  .tasker
{
    font-size: 18px;
}

a
{
    padding: 16px 30px;
}
}

@media (max-width: 320px) {
  .tasker
{
    font-size: 18px;
}

a
{
    padding: 16px 30px;
}
} */