    .img_styl
{
    height: 75vh;
}

.num1{
    font-size: 20px;
    font-weight: 600;
    background-color: #cbc6f5;
    padding: 15px 20px;
    border-radius: 50% 50%;
}

.num2{
    font-size: 20px;
    font-weight: 600;
     background-color: #f5f4c6;
    padding: 15px 20px;
    border-radius: 50% 50%;
}

.num3{
    font-size: 20px;
    font-weight: 600;
    background-color: #c6f5df;
    padding: 15px 20px;
    border-radius: 50% 50%;
}

@media (max-width:1440px) {
    .img_styl
{
    height: 75vh;
}
 
}

@media (max-width:1024px) {
    .img_styl
{
    height: 60vh;
}
 
}

@media (max-width:768px) {
    .img_styl
{
    height: 55vh;
}

.num1{
    font-size: 10px;
    padding: 10px 13px;  
}

.num2{
    font-size: 10px;
    padding: 10px 13px;  
}
 
.num3{
    font-size: 10px;
    padding: 10px 13px;  
}
}


@media (max-width:320px) {
    .img_styl
{
    height: 26vh;
}
 
}
/* @media (min-width: 900px) {
    .css-1iq5g5v {
        height: 50vh !important;
        width: 390px;
        padding: 25px !important;
        position: absolute;
        top: 100px;
        left: 40px;
    }
} */