/* .max_width
{
    width: 80%;
    margin: auto;
    
} */

.footer_txt{
    color: aliceblue;
    font-size: 16px;
    padding: 0%;
}

.f_img
{
    height: 60px;
}

.f_img2
{
    height: 55px;
}

/* a{
    padding: 0%;
} */