/* .input {
    height: 40px;
    width: 350px;
    padding: 7px;
    border-radius: 3px;
    border: none;
    margin-left: auto;
    border: 1px solid rgb(248, 243, 243);
    margin-top: 20px;
    font-size: 16px;
}

.input1 {
    height: 40px;
    margin-top: 20px;
    width: 350px;
    padding: 7px;
    border-radius: 3px;
    border: none;
    margin-left: auto;
    border: 1px solid rgb(241, 237, 237);
    font-size: 16px;
}

.link
{
    font-size: 14px;
    color:#414040;
    text-align: left;
} */