@media (max-width:1024px) {

    /* .css-1j5weqd-MuiContainer-root {
        height: 52vh;
    } */

    /* .css-1v4abhq {
        height: 52vh !important;
    }
     .css-1l2grlg
     {
        height: 52% !important;
     }

    .css-1v4abhq
    {
        height: 80vh !important;
    } */
}

.target
{
  text-decoration: none;
  color: rgb(24, 23, 23);  
  font-size:14px ;
}

.target1
{
    text-decoration: none;
    color:var(--primary-color);
    font-size: 14px;
}

.target1:hover
{
    color: white;
}

.target2
{
    text-decoration: none;
    color:white;
    font-size: 14px;
}

.target2:hover
{
    color: var(--primary-color);
}

