:root {
  --primary-color: #df731cff;
  --secondary-color: #000;
  --tirnery-color: #fff;
  --forth-color:#312f2f;
  --fifth-color:#837777;
  --six-color:#7a7979;
  --seven-color:#023a2cff;
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'roboto',sans-serif;
}

.max_width
{
    width: 80%;
    margin: auto;
    /* background-color: aquamarine; */
}

@media (max-width:1440px) {
  .max_width
  {
    width: 90%;
  }
}

@media (max-width:1024px) {
  .max_width
  {
    width: 100%;
  }
}

@media (max-width:768px) {
  .max_width
  {
    width: 100%;
  }
}

@media (max-width:320px) {
  .max_width
  {
    width: 95%;
  }
}