/* @media (max-width: 1440px) {
  .navbar_outer {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .navbar_outer {
    flex-direction: column;
  }
}

@media (max-width: 966px) {
  .navbar_outer {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .navbar_outer {
    flex-direction: column;
  }
}

@media (max-width: 580px) {
  .navbar_outer {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .navbar_outer {
    flex-direction: column;
  }
} */