.input-style
{
    height: 60px;
    width: 100%;
    margin-top: 10px;
    border-radius: 30px;
    font-size: 18px;
    padding: 10px;
    border: none;
    border: 1px solid gray;
}

.lable
{
    font-weight: 600;
}

.hang-image{
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}